In [2]:
import pandas as pd
import numpy as np

exam_data={"name":['krish','kaaviya','mary','john'],
          "score":[12.5,19,16.5,20],
          "attempts":[1,2,3,1],
          "qualify":['no','yes','no','yes']}
labels=['a','b','c','d']

df=pd.DataFrame(exam_data,labels)
print(df)

      name  score  attempts qualify
a    krish   12.5         1      no
b  kaaviya   19.0         2     yes
c     mary   16.5         3      no
d     john   20.0         1     yes

In [3]:
#print summary info
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      4 non-null      object
 1   score     4 non-null      float64
 2   attempts  4 non-null      int64
 3   qualify   4 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 160.0+ bytes

In [6]:
#print first 3 rows of data
df.iloc[:3]

      name  score  attempts qualify
a    krish   12.5         1      no
b  kaaviya   19.0         2     yes
c     mary   16.5         3      no

In [12]:
#select specific column
df[['name','score','attempts']]

      name  score  attempts
a    krish   12.5         1
b  kaaviya   19.0         2
c     mary   16.5         3
d     john   20.0         1

In [15]:
#print no. of attempts greater than 2
print(df[df['attempts']>=2])

      name  score  attempts qualify
b  kaaviya   19.0         2     yes
c     mary   16.5         3      no